@font-face {
  font-family: 'Geometria-Bold';
  src: url('../fonts/Geometria-Bold.eot');
  src: local('Geometria Bold'), local('Geometria-Bold'),
  url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Bold.woff') format('woff'),
  url('../fonts/Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria.eot');
  src: local('Geometria'),
  url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria.woff') format('woff'),
  url('../fonts/Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Acme';
  src: url('../fonts/Acme.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}